@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* .App{
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/bg.avif");
  background-size: cover;
  background-position: center;
} */

.panel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px 30px;
}
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* Optional: Scrollbar Track background */
::-webkit-scrollbar-track {
  background: transparent;
}
